################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mopups/Mopups.Maui/bin/Release
/Mopups/Mopups.Maui/obj
/SampleMaui/obj
